.nav-list {
  text-decoration: none;
}
.nav-list li {
  display: inline-block;
  margin-left: 100px;
  cursor: pointer;
  font-size: large;
  font-weight: 600;
  color: white;
}
.navdiv {
  border: 1px solid black;
  background-color: darkblue;
}
